---
import Layout from '@layouts/Layout.astro';
import Hero from '@components/sections/Hero.astro';
import SplitPanel from '@components/sections/SplitPanel.astro';
import Features from '@components/sections/Features.astro';
import { featureLists } from '@data/features';
import Integrations, { type Logo } from '@components/sections/Integrations.astro';

// images
import heroImage from '../assets/images/home/default-hero-2.jpg';
import nylamid from '../assets/images/home/m-nylamid.jpeg';
import bronce from '../assets/images/home/m-bronce.webp';
import acero4140 from '../assets/images/home/m-acerp4140.jpg';
import aceroD2A2 from '../assets/images/home/m-acer0d2a2.webp';
import aceroInox from '../assets/images/home/m-acero-inox.jpeg';
import delrin from '../assets/images/home/m-delrin.jpg';
import img1 from '../assets/images/home/img-1.png';
import img2 from '../assets/images/home/img-2.png';
import img3 from '../assets/images/home/img-3.png';
import img4 from '../assets/images/home/img-4.png';
import img5 from '../assets/images/home/img-5.png';
import img6 from '../assets/images/home/img-6.png';
import img7 from '../assets/images/home/img-7.png';
import img8 from '../assets/images/home/img-8.png';
// import devWeb from '../assets/images/home/dev-web.jpg';
// import api from '../assets/images/home/api.jpg';
// import db from '../assets/images/home/db.jpg';
// import scada from '../assets/images/home/scada.png';
// import soporte from '../assets/images/home/soporte.png';
// import software from '../assets/images/home/software.png';
import automation from '../assets/images/home/automation.png';
import factoryTalk from '../assets/images/home/factory-talk.png';
import ignition from '../assets/images/home/ignition.webp';
import keyence from '../assets/images/home/keyence.png';
import rockwell from '../assets/images/home/rockwell-automation.png';
import siemens from '../assets/images/home/siemens.png';
import angular from '../assets/images/home/angular.png';
import astro from '../assets/images/home/astro.png';
import csharp from '../assets/images/home/csharp.webp';
import go from '../assets/images/home/go.png';
import nodejs from '../assets/images/home/nodejs.png';
import postgresql from '../assets/images/home/postgresql.webp';
import python from '../assets/images/home/python.png';
import sqls from '../assets/images/home/sqls.png';
import tailwind from '../assets/images/home/tailwind.png';
import ts from '../assets/images/home/ts.webp';

const seoTitle = 'ART Services';
const seoDescription =
    'Empresa especializada en maquinados de alta precisión, servicios industriales y soluciones de IT a la medida para optimizar tus procesos y proyectos.';

const heroContent = {
    title: 'Maquinados, Servicios Industriales e IT a la Medida',
    description:
        'Fundada en 2023, somos especialistas en servicios industriales como soldadura, maquinados, diseño, integraciones, soporte informático y más. Trabajamos con materiales de alta calidad como Nylamid, Bronce, Acero 4140, Acero D2/A2, Inoxidable y Delrin, ofreciendo desde piezas especializadas hasta estaciones de trabajo completas.',
    buttons: [
        {
            text: 'Contáctanos',
            link: '/contact',
            target: '_self',
        },
    ],
    backgroundImage: heroImage,
    overlayOpacity: 0.5,
};

const offerSection = {
    eyebrow: 'NUESTROS SERVICIOS',
    title: 'Soluciones Industriales y Tecnológicas a tu Medida',
    description:
        'Ofrecemos soluciones especializadas que se adaptan a las necesidades específicas de cada empresa. Desde maquinados de alta precisión hasta soporte técnico de IT, nuestro compromiso es impulsar tu productividad con servicios de calidad, confiabilidad y eficiencia.',
    features: featureLists.main.features,
};

const plotServices = {
    eyebrow: 'Servicios de Maquinado',
    headline: 'Especialistas en Materiales Industriales',
    subheadline: 'Precisión y calidad garantizada',
    description:
        'Realizamos todo tipo de trabajos en diferentes materiales industriales, con la máxima precisión y tiempos de entrega competitivos.',
    materialList: ['Nylamid', 'Bronce', 'Acero 4140', 'Acero D2 / A2', 'Inoxidable', 'Delrin'],
    images: [
        { src: nylamid, alt: 'Maquinado Nylamid', colSpan: 1, rowSpan: 1 },
        { src: bronce, alt: 'Maquinado Bronce', colSpan: 1, rowSpan: 1 },
        { src: acero4140, alt: 'Maquinado acero 4140', colSpan: 2, rowSpan: 1 },
        { src: aceroD2A2, alt: 'Maquinado acero d2a2', colSpan: 1, rowSpan: 2 },
        { src: aceroInox, alt: 'Maquinado acero inoxidable', colSpan: 2, rowSpan: 1 },
        { src: delrin, alt: 'Maquinado delrin', colSpan: 1, rowSpan: 1 },
    ],
    buttons: [
        {
            text: 'Solicitar Cotización',
            link: '/contact',
            variant: 'primary' as 'primary' | 'secondary' | 'ghostLight' | 'ghostDark',
        },
    ],
};

const designServices = {
    eyebrow: 'Servicios Especializados',
    headline: 'Desarrollo y Fabricación de Soluciones Funcionales',
    subheadline: 'Innovación, calidad y precisión en cada proyecto',
    description:
        'Ofrecemos el diseño y fabricación de estaciones de trabajo, estructuras de soporte, piezas especializadas y pruebas funcionales para asegurar el rendimiento y la eficiencia de tus procesos industriales. Nos adaptamos a tus requerimientos técnicos y productivos, garantizando soluciones a medida con los más altos estándares de calidad.',
    serviceList: ['Pruebas funcionales', 'Estaciones de trabajo', 'Piezas especializadas', 'Estructuras de soporte'],
    images: [
        { src: img1, alt: 'Pruebas funcionales', colSpan: 2, rowSpan: 2 },
        { src: img2, alt: 'Estaciones de trabajo', colSpan: 1, rowSpan: 1 },
        { src: img3, alt: 'Piezas especializadas', colSpan: 2, rowSpan: 1 },
        { src: img4, alt: 'Estructuras de soporte', colSpan: 1, rowSpan: 2 },
        { src: img5, alt: 'Otros', colSpan: 2, rowSpan: 1 },
    ],
    buttons: [
        {
            text: 'Solicitar Cotización',
            link: '/contact',
            variant: 'primary' as 'primary' | 'secondary' | 'ghostLight' | 'ghostDark',
        },
    ],
};

const industrialServices = {
    eyebrow: 'Servicios Industriales',
    headline: 'Desarrollo y Fabricación de Soluciones Industriales',
    subheadline: 'Innovación, calidad y precisión en cada proyecto',
    description:
        'Ofrecemos el diseño y fabricación de estaciones de trabajo, estructuras de soporte, carros de almacenamiento y transporte, mesas de inspección, así como soluciones en estructuras de perfil de aluminio o PTR. Nos adaptamos a tus requerimientos técnicos y productivos, garantizando soluciones a medida con los más altos estándares de calidad.',
    serviceList: [
        'Carros de almacenamiento y transporte',
        'Estructuras de perfil de aluminio o PTR',
        'Mesas de inspección',
    ],
    images: [
        { src: img6, alt: 'Carros de almacenamiento y transporte', colSpan: 2, rowSpan: 2 },
        { src: img7, alt: 'Estructuras de perfil de aluminio o PTR', colSpan: 1, rowSpan: 1 },
        { src: img8, alt: 'Mesas de inspección', colSpan: 2, rowSpan: 1 },
    ],
    buttons: [
        {
            text: 'Solicitar Cotización',
            link: '/contact',
            variant: 'primary' as 'primary' | 'secondary' | 'ghostLight' | 'ghostDark',
        },
    ],
};

const softwareDevelopmentServices = {
    eyebrow: 'Servicios de Desarrollo de Software y Soporte Técnico Informático',
    headline: 'Personalizadas para tu Empresa',
    subheadline: 'Innovación, eficiencia y soporte continuo en cada proyecto con las mejores tecnologías',
    description:
        'Brindamos soluciones a medida para el desarrollo de software, incluyendo páginas web, aplicaciones web, APIs, bases de datos, sistemas de control de inventarios y más. Además, ofrecemos soporte técnico especializado en plataformas como Ignition & PLC, sistemas SCADA, así como mantenimiento preventivo y correctivo de PC y laptops, instalación de programas, impresoras y soporte remoto.',
    serviceList: [
        'Desarrollo de páginas web a la medida',
        'Aplicaciones web',
        'Desarrollo de APIs',
        'Sistemas de control de inventarios a la medida',
        'Integraciones con APIs externas y sistemas solicitados',
        'Desarrollo de base de datos (SQL Server, PostgreSQL y MongoDB)',
        // 'Plataforma Ignition & PLC',
        // 'Sistemas SCADA',
        'Mantenimiento preventivo y correctivo de PC y laptops',
        'Instalación de programas',
        'Instalación de impresoras',
        'Soporte remoto',
    ],
    images: [
        { src: angular, alt: 'Angular', colSpan: 2, rowSpan: 2 },
        { src: astro, alt: 'Astro', colSpan: 1, rowSpan: 1 },
        { src: csharp, alt: 'C#', colSpan: 2, rowSpan: 1 },
        { src: go, alt: 'Go', colSpan: 1, rowSpan: 2 },
        { src: nodejs, alt: 'Node.js', colSpan: 2, rowSpan: 1 },
        { src: postgresql, alt: 'PostgreSQL', colSpan: 1, rowSpan: 1 },
        { src: python, alt: 'Python', colSpan: 2, rowSpan: 1 },
        { src: sqls, alt: 'SQL Server', colSpan: 1, rowSpan: 2 },
        { src: tailwind, alt: 'Tailwind CSS', colSpan: 2, rowSpan: 1 },
        { src: ts, alt: 'TypeScript', colSpan: 1, rowSpan: 1 },
    ],
    buttons: [
        {
            text: 'Solicitar Cotización',
            link: '/contact',
            variant: 'primary' as 'primary' | 'secondary' | 'ghostLight' | 'ghostDark',
        },
    ],
};

const FooterCta = {
    eyebrow: 'Únete a nosotros',
    title: 'Comienza a trabajar con Art Services hoy',
    description: 'Somos una empresa innovadora y en constante crecimiento.',
    hideCta: false,
    button: {
        text: 'Contáctanos',
        link: '/contact',
        target: '_self',
    },
};

const logos: Logo[] = [
    { src: automation, alt: 'Automation', link: '' },
    { src: factoryTalk, alt: 'Factory Talk', link: '' },
    { src: ignition, alt: 'Ignition', link: '' },
    { src: keyence, alt: 'Keyence', link: '' },
    { src: siemens, alt: 'Siemens', link: '' },
    { src: rockwell, alt: 'Rockwell Automation', link: '' },
    // { src: studio5000.src, alt: 'Studio 5000', link: '' },
];
---

<Layout footerCta={FooterCta} title={seoTitle} description={seoDescription}>
    <section id="about">
        <Hero content={heroContent} />
    </section>

    <section id="offer">
        <Features content={offerSection} padding="base" background="light" />
    </section>

    <section id="plot">
        <SplitPanel content={plotServices} imagePosition="left" background="dark" padding="base" />
    </section>

    <section id="design-services">
        <SplitPanel content={designServices} imagePosition="right" background="base" padding="base" />
    </section>

    <section id="industrial-services">
        <SplitPanel content={industrialServices} imagePosition="right" background="dark" padding="base" />
    </section>

    <section id="software-development">
        <SplitPanel
            content={softwareDevelopmentServices}
            imagePosition="right"
            background="base"
            padding="base"
            isDevSection
        />
    </section>

    <Integrations
        content={{
            eyebrow: 'Integraciones',
            title: 'Conecta con tus herramientas favoritas',
            description: 'Nuestra plataforma se integra fácilmente con las principales empresas del sector.',
            logos: logos,
        }}
        background="dark"
    />
</Layout>
