---
import { footerMenu } from '@data/menu';
import Logo from '@components/Logo.astro';
import Button from '@components/ui/Button.astro';
import { siteConfig } from '@data/config';

interface ButtonProps {
    text: string;
    link: string;
    target?: string;
}

interface Props {
    footerCta?: {
        title: string;
        description: string;
        hideCta: boolean;
        button?: ButtonProps;
    };
}

const { footerCta } = Astro.props;

const defaultCta = {
    title: 'ART Services',
    description: 'Transformamos tu visión en realidad',
    hideCta: false,
    button: {
        text: 'Contáctanos',
        link: '/contact',
        target: '_self',
    },
};

const cta = footerCta || defaultCta;
const currentYear = new Date().getFullYear();

const currentPath = Astro.url.pathname;
const currentPathIsContact = currentPath === '/contact' || currentPath.startsWith('/contact/');
---

<footer class={`bg-black text-white pb-small ${cta.hideCta ? 'pt-large' : ''}`}>
    <div class="site-container mx-auto px-4">
        {
            !cta.hideCta && (
                <div class="text-center border-b border-background-light mb-12 py-small">
                    <h2 class="text-3xl font-bold mb-4" data-aos="fade-up">
                        {cta.title}
                    </h2>
                    <p class="text-white mb-6 max-w-2xl mx-auto" data-aos="fade-up" data-aos-delay="100">
                        {cta.description}
                    </p>
                    {cta.button && cta.button.link && (
                        <Button
                            href={cta.button.link}
                            variant="ghostLight"
                            size="lg"
                            data-aos="fade-up"
                            data-aos-delay="200"
                            {...(cta.button.target && { target: cta.button.target })}
                        >
                            {cta.button.text}
                        </Button>
                    )}
                </div>
            )
        }

        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 pb-8 border-b border-background-light">
            <div class="col-span-1">
                <Logo variant="footer" />
                <p class="mt-4 text-white">Impulsamos tu transformación con soluciones innovadoras</p>
            </div>

            <div class="col-span-2">
                <h3 class="text-lg font-semibold mb-4">Navega</h3>
                <nav>
                    <ul class="grid grid-cols-2 grid-rows-3">
                        {
                            footerMenu
                                .filter((item) => (currentPathIsContact ? item.showInContact : !item.showInContact))
                                .map((item) => (
                                    <li>
                                        <a href={item.link} class="text-body-dark hover:text-white transition-colors">
                                            {item.name}
                                        </a>
                                    </li>
                                ))
                        }
                    </ul>
                </nav>
            </div>
        </div>

        <div class="mt-8 flex flex-col md:flex-row justify-between items-center">
            <div class="text-body-dark text-sm">
                © {currentYear}
                {siteConfig.companyName}. Todos los derechos reservados. <a
                    href="https://innobytes.tech"
                    target="_blank">Desarrollado por Innobytes</a
                >
            </div>
        </div>
    </div>
</footer>
